<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="kiponSec" type=" OrganizationName.PluginRegistration.Security.Configuration.KiponSecConfigurationSection,  OrganizationName.PluginRegistration"/>
  </configSections>

  <kiponSec xrmServiceUrl="https://OrganizationName.crm.dynamics.com/XRMServices/2011/Organization.svc" xrmServiceUser="serpent" xrmServicePassword="password" xrmServiceDomain="gmail.com" xrmAuthenticationProviderType="OnlineFederation"/>
  
  <!-- dynamic online example (remark, username and domain is specified in two difference parameters, in the example the user would be "kjeld.poulsen@kipon.dk")
  <kiponSec xrmServiceUrl="https://<your url here>/XRMServices/2011/Organization.svc" xrmServiceUser="<username here, ex kjeld.poulsen>" xrmServicePassword="<password here>" xrmServiceDomain="domain here, ex  kipon.dk" xrmAuthenticationProviderType="OnlineFederation"/>
-->

  <appSettings>
    <add key="AssemblyLocation" value ="Location of dll file" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>
