<?xml version="1.0" encoding="utf-8"?>
<Mappings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://exitoconsulting.ru/schema/CrmWebResourcesUpdater/MappingSchema.xsd">
  <!--
EXAMPLES OF MAPPINGS:
<Mapping localPath="scripts\contact.js" webResourceName="new_contact"/>
<Mapping localPath="account.js" webResourceName="new_account"/>
-->
  <Mapping localPath="OrganizationName_\js\enrollmentassessment\EnrollmentAssessment.Constants.js" webResourceName="OrganizationName_EnrollmentAssessment.Constants.js" />
  <Mapping localPath="OrganizationName_\js\enrollmentassessment\EnrollmentAssessment.FormEvents.js" webResourceName="OrganizationName_EnrollmentAssessment.FormEvents.js" />
  <Mapping localPath="OrganizationName_\js\enrollmentassessment\EnrollmentAssessmentEmployment.GridEvents.js" webResourceName="OrganizationName_EnrollmentAssessmentEmployment.GridEvents.js" />
  <Mapping localPath="OrganizationName_\js\enrollmentassessment\EnrollmentAssessmentFinancial.FieldEvents.js" webResourceName="OrganizationName_EnrollmentAssessmentFinancial.FieldEvents.js" />
  <Mapping localPath="OrganizationName_\js\enrollmentassessment\EnrollmentAssessmentHousing.FieldEvents.js" webResourceName="OrganizationName_EnrollmentAssessmentHousing.FieldEvents.js" />
  <Mapping localPath="OrganizationName_\js\servicegrant\ServiceGrant.Constants.js" webResourceName="OrganizationName_ServiceGrant.Constants.js" />
  <Mapping localPath="OrganizationName_\js\servicegrant\ServiceGrant.FieldEvents.js" webResourceName="OrganizationName_ServiceGrant.FieldEvents.js" />
  <Mapping localPath="OrganizationName_\constants\fields.js" webResourceName="OrganizationName_fields.js" />
  <Mapping localPath="OrganizationName_\utils\Utility.Operation.js" webResourceName="OrganizationName_Utility.Operation.js" />
  <Mapping localPath="OrganizationName_\utils\utility.DateTime.js" webResourceName="OrganizationName_Utility.DateTime.js" />
  <Mapping localPath="OrganizationName_\js\servicegrant\ServiceGrant.FormEvents.js" webResourceName="OrganizationName_ServiceGrant.FormEvents.js" />
  <Mapping localPath="OrganizationName_\js\grantversion\GrantVersion.Constants.js" webResourceName="OrganizationName_GrantVersion.Constants.js" />
  <Mapping localPath="OrganizationName_\js\grantversion\GrantVersion.FieldEvents.js" webResourceName="OrganizationName_GrantVersion.FieldEvents.js" />
  <Mapping localPath="OrganizationName_\js\programversion\ProgramVersion.Constants.js" webResourceName="OrganizationName_ProgramVersion.Constants.js" />
  <Mapping localPath="OrganizationName_\js\programversion\ProgramVersion.FieldEvents.js" webResourceName="OrganizationName_ProgramVersion.FieldEvents.js" />
  <Mapping localPath="OrganizationName_\js\serviceversion\ServiceVersion.Constants.js" webResourceName="OrganizationName_ServiceVersion.Constants.js" />
  <Mapping localPath="OrganizationName_\js\serviceversion\ServiceVersion.FieldEvents.js" webResourceName="OrganizationName_ServiceVersion.FieldEvents.js" />
  <Mapping localPath="OrganizationName_\js\householdclient\HouseHoldClient.Constants.js" webResourceName="OrganizationName_HouseHoldClient.Constants.js" />
  <Mapping localPath="OrganizationName_\js\householdclient\HouseHoldClient.FormEvents.js" webResourceName="OrganizationName_HouseHoldClient.FormEvents.js" />
  <Mapping localPath="OrganizationName_\js\enrollmentcase\EnrollmentCase.FieldEvents.js" webResourceName="OrganizationName_EnrollmentCase.FieldEvents.js" />
  <Mapping localPath="OrganizationName_\js\enrollmentcase\EnrollmentCase.FormEvents.js" webResourceName="OrganizationName_EnrollmentCase.FormEvents.js" />
  <Mapping localPath="OrganizationName_\js\enrollmentcase\EnrollmentCase.Constants.js" webResourceName="OrganizationName_EnrollmentCase.Constants.js" />
</Mappings>